body{
    text-align: center;
    background-color: #1D1D21;
    margin: 0px;
    padding: 0px;
    border: none;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Trebuchet MS', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas{
    border: none;
    padding: 0px;
    margin: 0px;
    top:0;
    left:0;
}

a{
    color: #00ffff;
    position: absolute;
    border: none;
    margin: 0;
    padding: 0;
    left: 5px;
    top: 5px;
    font-size: 40px;
    transition-duration: 0.3s;
    font-family: inherit;
    background-color: transparent;
}

a:hover{
    color: white;
}

#p5_loading{
    animation-name: loadingAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

    font-size: 28px;
}

#volumeControl {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
}

#volumeSlider {
    appearance: slider-vertical;
}

@keyframes loadingAnimation{
    0% {
        color: #888;
    }
    100% {
        color: #ffa;
    }
}